In [60]:
import pandas as pd
import numpy as np
import json

In [3]:
username = "RealSkipBayless"
tweets_df = pd.read_csv('cleaned-data/user-{}-tweets-cleaned.csv'.format(username))

# Displays first 5 entries from dataframe
tweets_df.head()

,user,date,content,replyCount,retweetCount,likeCount
0,RealSkipBayless,[ 43 10 2021],Ja Morant is putting on a SHOW out here in Hol...,0,0,0
1,RealSkipBayless,[ 43 10 2021],Lakers look by far the best they've looked by ...,55,16,499
2,RealSkipBayless,[ 43 10 2021],"LeBron gets rolled up on, grimaces while he st...",107,101,1488
3,RealSkipBayless,[ 43 10 2021],Russ (naturally) missed all three of his shots...,51,22,525
4,RealSkipBayless,[ 43 10 2021],"Lakers are on a 25-7 run fueled by defense, fa...",31,30,499

In [38]:
df_states = pd.read_csv('state-survey-responses-fa21.csv')
states = df_states['state_name'].to_numpy()

In [39]:
states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [45]:
# Format

#State Name:
#    Twitter User #1: Tweet Mention Count
#    Twitter User #2: Tweet Mention Count
#    Twitter User #3: Tweet Mention Count
#    Twitter User #4: Tweet Mention Count
#    Twitter User #5: Tweet Mention Count
#State Name:
#    ...

In [62]:
finalDict = {}
user = 'Skip Bayless'

for state in states:
    stateLower = state.lower()
    count = 0

    for val in tweets_df.loc[:,'content']:
        if (stateLower in val.lower()):
            count += 1

    finalDict[state] = count

In [63]:
finalDict

{'Alabama': 98,
 'Alaska': 0,
 'Arizona': 115,
 'Arkansas': 12,
 'California': 9,
 'Colorado': 5,
 'Connecticut': 0,
 'Delaware': 1,
 'District of Columbia': 0,
 'Florida': 45,
 'Georgia': 37,
 'Hawaii': 2,
 'Idaho': 0,
 'Illinois': 3,
 'Indiana': 61,
 'Iowa': 45,
 'Kansas': 83,
 'Kentucky': 85,
 'Louisiana': 3,
 'Maine': 17,
 'Maryland': 3,
 'Massachusetts': 0,
 'Michigan': 90,
 'Minnesota': 43,
 'Mississippi': 5,
 'Missouri': 11,
 'Montana': 63,
 'Nebraska': 10,
 'Nevada': 9,
 'New Hampshire': 0,
 'New Jersey': 1,
 'New Mexico': 0,
 'New York': 48,
 'North Carolina': 5,
 'North Dakota': 2,
 'Ohio': 141,
 'Oklahoma': 192,
 'Oregon': 76,
 'Pennsylvania': 1,
 'Puerto Rico': 0,
 'Rhode Island': 0,
 'South Carolina': 4,
 'South Dakota': 1,
 'Tennessee': 26,
 'Texas': 224,
 'Utah': 96,
 'Vermont': 0,
 'Virginia': 19,
 'Washington': 142,
 'West Virginia': 4,
 'Wisconsin': 24,
 'Wyoming': 1}

In [64]:
with open('example.json' ,'w') as f:
    json.dump(finalDict, f)