In [1]:
import os
import pandas as pd
import numpy as np
import random
import json

In [3]:
# Twitter Followers:
def getFollowers(username):
    os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> data/example-tweets.json".format(1, username))
    
    followers = pd.read_json('data/example-tweets.json'.format(username), lines=True).to_numpy()[0][6]['followersCount']
    return [username, followers]

In [4]:
usernames = ['RealSkipBayless', 'ShannonSharpe', 'PatMcAfeeShow', 'stephenasmith', 'maxkellerman',
            'EmmaWatson', 'AnnaKendrick47', 'VancityReynolds', 'Matt_Leblanc', 'RobertDowneyJr',
            'KingJames', 'KDTrey5', 'Giannis_An34', 'StephenCurry30', 'JoelEmbiid', 'steveaoki',
            'CousinStizz', 'trvisXX', 'justinbieber', 'ladygaga', 'mcuban', 'travisk', 'ev', 
            'ariannahuff', 'TonyRobbins', 'Jsipple', 'informor', 'soumitradutta', 
            'DrMaureenHanson', 'GeoffreyWCoates']

outputArr = []

for username in usernames:
    output = getFollowers(username)
    outputArr.append([output[0], output[1]])

df = pd.DataFrame(data = outputArr, columns = ['Username', 'Follower_Count'])
df.to_csv('data/user-followers.csv', index = False)
df.head()

          Username  Follower_Count
0  RealSkipBayless         3051616
1    ShannonSharpe         1539628
2    PatMcAfeeShow         2162963
3    stephenasmith         5504684
4     maxkellerman          675973

In [163]:
# Reference: https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af
# Setting variables to be used in format string command below
tweet_count = 1000000

username = "GeoffreyWCoates"

# Using OS library to call CLI commands in Python
os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> data/user-{}-tweets.json".format(tweet_count, username, username))

0

In [164]:
# Reads the json generated from the CLI command above and creates a pandas dataframe
tweets_df = pd.read_json('data/user-{}-tweets.json'.format(username), lines=True)

# Displays first 5 entries from dataframe
tweets_df.head()

,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-10-15 19:31:11+00:00,"@j_a_byers @TheCoatesCrew @NESACS Thanks, Jeff...","@j_a_byers @TheCoatesCrew @NESACS Thanks, Jeff...",1449095527526699013,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,4,...,None,NaN,None,1.449012e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
1,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-10-06 21:02:06+00:00,"Awesome work, @James_M_Eagan! https://t.co/3pJ...","Awesome work, @James_M_Eagan! twitter.com/Jame...",1445856918778511372,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,7,...,None,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
2,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-09-23 22:59:27+00:00,‚Å¶@Cornell‚Å© looking ü§© this evening! https://t.c...,‚Å¶@Cornell‚Å© looking ü§© this evening! https://t.c...,1441175406229458945,"{'_type': 'snscrape.modules.twitter.User', 'us...",4,31,654,...,"[{'_type': 'snscrape.modules.twitter.Photo', '...",NaN,None,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
3,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-09-22 17:51:25+00:00,‚Å¶@TheCoatesCrew‚Å© chemistry goes to a new stage...,‚Å¶@TheCoatesCrew‚Å© chemistry goes to a new stage...,1440735499514040324,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,9,98,...,None,NaN,None,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
4,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/143...,2021-09-09 17:16:28+00:00,Ha - thanks Paul! https://t.co/Abi0wLd3PL http...,Ha - thanks Paul! chrisjordan.com/gallery/rtn/...,1436015662179098650,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,6,...,None,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,None,NaN,NaN,None,NaN

In [165]:
tweets_df.shape

(307, 28)

In [166]:
arr = tweets_df.to_numpy()

In [167]:
def getPercentage(arr, textIndex, phrase):
    count = 0
    for val in arr:
        if phrase in val[textIndex].lower():
            count += 1
    return count * 100 / len(arr)

In [168]:
print(getPercentage(arr, 3, 'lebron'))

0.0

In [169]:
# Check the earliest tweet in the dataset
arr[-1][2].year

2018

In [170]:
tweets_df.columns

Index(['_type', 'url', 'date', 'content', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel',
       'outlinks', 'tcooutlinks', 'media', 'retweetedTweet', 'quotedTweet',
       'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'coordinates',
       'place', 'hashtags', 'cashtags'],
      dtype='object')

In [171]:
parseDate = lambda x: [x.week, x.month, x.year]

def cleanData(data):
    # Extract user, date, content, replyCount, retweetCount, and likeCount
    data = data.loc[:, ['user', 'date', 'content', 'replyCount', 'retweetCount', 'likeCount']]

    # Extract username from user
    username = data['user'][0]['username']
    data['user'] = username

    # Convert date: [week, month, year]
    data['date'] = data['date'].apply(np.vectorize(parseDate))
    
    data.to_csv('data/user-{}-tweets-cleaned.csv'.format(username), index = False)

In [172]:
cleanData(tweets_df)

In [2]:
usernames = ['RealSkipBayless', 'ShannonSharpe', 'PatMcAfeeShow', 'stephenasmith', 'maxkellerman',
            'EmmaWatson', 'AnnaKendrick47', 'VancityReynolds', 'Matt_Leblanc', 'RobertDowneyJr',
            'KingJames', 'KDTrey5', 'Giannis_An34', 'StephenCurry30', 'JoelEmbiid', 'steveaoki',
            'CousinStizz', 'trvisXX', 'justinbieber', 'ladygaga', 'mcuban', 'travisk', 'ev', 
            'ariannahuff', 'TonyRobbins', 'Jsipple', 'informor', 'soumitradutta', 
            'DrMaureenHanson', 'GeoffreyWCoates']

new_data = {}
for username in usernames:
    #data = pd.read_csv(f'cleaned-data/user-{username}-tweets-cleaned.csv').to_numpy()
    #print(data)
    new_data[username] = {}
    for i in range(15):
        new_data[username][f'word_{i+1}'] = random.uniform(0,1)

with open('top-words.json' ,'w') as f:
    json.dump(new_data, f)

In [21]:
new_data = {}

usernames = sports + actors + nba_players + musicians + entrepreneurs + cornell

for username in usernames:
    new_data[username] = {}

In [2]:
common_words = ['now', 'like', 'think', 'time', 'game']

sports = ['RealSkipBayless', 'ShannonSharpe', 'PatMcAfeeShow', 'stephenasmith', 'maxkellerman']
sports_words = ['undisputed', 'amp', 'win', 'lebron', 'love', 'nfl', 'thanks', 'brady', 'broncos',
               'cowboys', 'haha', 'players', 'brother', 'damn', 'tonight', 'sharpe', 'patmcafeeshow',
               'shannon', 'tebowsourqb', 'guys', 'podcast', 'coach', 'cont', 'run', 'nba', 'keep',
               'tebow', 'tomorrow', 'games', 'football', 'mvp', 'stephen', 'bro', 'top', 
               'lakers', 'fans', 'week'] + common_words

actors = ['EmmaWatson', 'AnnaKendrick47', 'VancityReynolds', 'Matt_Leblanc', 'RobertDowneyJr']
actors_words = ['like', 'love', 'thanks', 'now', 'day', 'happy', 'time', 'know', 'see', 'people',
               'new', 'think', 'deadpool', 'first', 'life', 'thank', 'aviationgin', 'work', 
               'thejudge', 'want' ,'amazing', 'feel', 'mintmobile', 'women', 'movie'] + common_words

nba_players = ['KingJames', 'KDTrey5', 'Giannis_An34', 'StephenCurry30', 'JoelEmbiid']
nba_words = ['lol', 'man', 'game', 'bro', 'right', 'know', 'yea', 'today', 'tonight', 'happy',
            'kno', 'jus', 'win', 'play', 'congrats', 'waldorfsfinest', 'wit', 'big', 
            'team', 'yall', 'keep', 'kingjames'] + common_words

musicians = ['steveaoki', 'CousinStizz', 'trvisXX', 'justinbieber', 'ladygaga']
musicians_words = ['love', 'new', 'show', 'thank', 'tonight', 'night', 'music', 'video',
                  'album', 'world', 'coming', 'fans', 'live', 'tour', 'dim', 'steveaoki', 
                  'aoki', 'mak', 'aokijump', 'party', 'best'] + common_words

entrepreneurs = ['mcuban', 'travisk', 'ev', 'ariannahuff', 'TonyRobbins']
entrepreneurs_words = ['uber', 'people' 'life', 'twitter', 'like', 'business', 'bit', 'take',
                      'great', 'think', 'work', 'tony', 'change', 'going', 'best', 'help',
                      'world', 'live', 'learn'] + common_words


cornell = ['Jsipple', 'informor', 'soumitradutta', 'DrMaureenHanson', 'GeoffreyWCoates']
cornell_words = ['new', 'data', 'work', 'paper', 'time', 'social', 'well', 'media', 'today',
                'cornell', 'think', 'research', 'students', 'first', 'congrats', 'innovation',
                'tech'] + common_words

In [16]:
all_usernames = sports + actors + nba_players + musicians + entrepreneurs + cornell
all_words = ['game', 'love', 'thanks', 'win', 'undisputed', 'lol', 'happy', 'bro', 'haha', 'damn']

In [24]:
usernames = actors
words = actors_words

for username in usernames:
    #new_data[username] = {}
    data = pd.read_json('data/user-{}-tweets.json'.format(username), lines=True)['content'].to_numpy()
    
    for word in words:
        count = 0
        for tweet in data:
            if word in tweet.lower():
                count += 1
        new_data[username][word] = count

In [25]:
new_data

{'RealSkipBayless': {'undisputed': 9825,
  'amp': 1855,
  'win': 5945,
  'lebron': 5742,
  'love': 1848,
  'nfl': 1938,
  'thanks': 388,
  'brady': 2749,
  'broncos': 188,
  'cowboys': 2915,
  'haha': 11,
  'players': 650,
  'brother': 110,
  'damn': 15,
  'tonight': 1227,
  'sharpe': 473,
  'patmcafeeshow': 0,
  'shannon': 1052,
  'tebowsourqb': 0,
  'guys': 165,
  'podcast': 2148,
  'coach': 1240,
  'cont': 1111,
  'run': 1918,
  'nba': 1446,
  'keep': 1067,
  'tebow': 1368,
  'tomorrow': 1259,
  'games': 1538,
  'football': 831,
  'mvp': 1353,
  'stephen': 1410,
  'bro': 7874,
  'top': 1092,
  'lakers': 1348,
  'fans': 678,
  'week': 639,
  'now': 10728,
  'like': 2942,
  'think': 1400,
  'time': 3235,
  'game': 7126},
 'ShannonSharpe': {'undisputed': 149,
  'amp': 3241,
  'win': 7665,
  'lebron': 555,
  'love': 3558,
  'nfl': 3964,
  'thanks': 1863,
  'brady': 2006,
  'broncos': 4727,
  'cowboys': 622,
  'haha': 923,
  'players': 2099,
  'brother': 377,
  'damn': 556,
  'tonight': 604,
  'sharpe': 78866,
  'patmcafeeshow': 0,
  'shannon': 78117,
  'tebowsourqb': 3948,
  'guys': 1515,
  'podcast': 79,
  'coach': 2308,
  'cont': 4607,
  'run': 2586,
  'nba': 1216,
  'keep': 1697,
  'tebow': 5253,
  'tomorrow': 688,
  'games': 648,
  'football': 1245,
  'mvp': 1402,
  'stephen': 319,
  'bro': 12167,
  'top': 3756,
  'lakers': 739,
  'fans': 1193,
  'week': 1292,
  'now': 10352,
  'like': 7355,
  'think': 9525,
  'time': 4554,
  'game': 2974},
 'PatMcAfeeShow': {'undisputed': 16,
  'amp': 5143,
  'win': 2730,
  'lebron': 76,
  'love': 2853,
  'nfl': 2401,
  'thanks': 1612,
  'brady': 392,
  'broncos': 65,
  'cowboys': 153,
  'haha': 4822,
  'players': 483,
  'brother': 2746,
  'damn': 934,
  'tonight': 971,
  'sharpe': 9,
  'patmcafeeshow': 15393,
  'shannon': 26,
  'tebowsourqb': 0,
  'guys': 1478,
  'podcast': 306,
  'coach': 1008,
  'cont': 700,
  'run': 989,
  'nba': 415,
  'keep': 610,
  'tebow': 90,
  'tomorrow': 663,
  'games': 448,
  'football': 1398,
  'mvp': 126,
  'stephen': 91,
  'bro': 4523,
  'top': 894,
  'lakers': 36,
  'fans': 412,
  'week': 1686,
  'now': 5020,
  'like': 3519,
  'think': 2778,
  'time': 3399,
  'game': 2602},
 'stephenasmith': {'undisputed': 3,
  'amp': 879,
  'win': 1210,
  'lebron': 479,
  'love': 1576,
  'nfl': 611,
  'thanks': 1739,
  'brady': 157,
  'broncos': 37,
  'cowboys': 389,
  'haha': 2,
  'players': 212,
  'brother': 546,
  'damn': 1947,
  'tonight': 463,
  'sharpe': 22,
  'patmcafeeshow': 0,
  'shannon': 21,
  'tebowsourqb': 0,
  'guys': 115,
  'podcast': 856,
  'coach': 413,
  'cont': 380,
  'run': 376,
  'nba': 833,
  'keep': 511,
  'tebow': 233,
  'tomorrow': 356,
  'games': 226,
  'football': 227,
  'mvp': 156,
  'stephen': 1977,
  'bro': 3067,
  'top': 1080,
  'lakers': 426,
  'fans': 252,
  'week': 633,
  'now': 4348,
  'like': 1431,
  'think': 975,
  'time': 1722,
  'game': 1456},
 'maxkellerman': {'undisputed': 12,
  'amp': 1001,
  'win': 496,
  'lebron': 146,
  'love': 156,
  'nfl': 137,
  'thanks': 105,
  'brady': 79,
  'broncos': 3,
  'cowboys': 51,
  'haha': 1,
  'players': 50,
  'brother': 20,
  'damn': 16,
  'tonight': 166,
  'sharpe': 0,
  'patmcafeeshow': 0,
  'shannon': 0,
  'tebowsourqb': 0,
  'guys': 43,
  'podcast': 21,
  'coach': 59,
  'cont': 147,
  'run': 108,
  'nba': 317,
  'keep': 60,
  'tebow': 5,
  'tomorrow': 35,
  'games': 104,
  'football': 73,
  'mvp': 100,
  'stephen': 80,
  'bro': 339,
  'top': 187,
  'lakers': 188,
  'fans': 108,
  'week': 91,
  'now': 445,
  'like': 367,
  'think': 138,
  'time': 361,
  'game': 543},
 'EmmaWatson': {'like': 36,
  'love': 110,
  'thanks': 16,
  'now': 62,
  'day': 111,
  'happy': 36,
  'time': 60,
  'know': 18,
  'see': 64,
  'people': 35,
  'new': 52,
  'think': 28,
  'deadpool': 0,
  'first': 17,
  'life': 17,
  'thank': 127,
  'aviationgin': 0,
  'work': 46,
  'thejudge': 0,
  'want': 28,
  'amazing': 41,
  'feel': 17,
  'mintmobile': 0,
  'women': 99,
  'movie': 26,
  'game': 5},
 'AnnaKendrick47': {'like': 200,
  'love': 104,
  'thanks': 38,
  'now': 266,
  'day': 203,
  'happy': 38,
  'time': 108,
  'know': 117,
  'see': 99,
  'people': 68,
  'new': 78,
  'think': 78,
  'deadpool': 0,
  'first': 47,
  'life': 63,
  'thank': 75,
  'aviationgin': 0,
  'work': 69,
  'thejudge': 0,
  'want': 54,
  'amazing': 19,
  'feel': 90,
  'mintmobile': 0,
  'women': 15,
  'movie': 59,
  'game': 24},
 'VancityReynolds': {'like': 100,
  'love': 113,
  'thanks': 58,
  'now': 136,
  'day': 211,
  'happy': 88,
  'time': 92,
  'know': 75,
  'see': 82,
  'people': 38,
  'new': 68,
  'think': 39,
  'deadpool': 178,
  'first': 41,
  'life': 43,
  'thank': 169,
  'aviationgin': 246,
  'work': 69,
  'thejudge': 0,
  'want': 39,
  'amazing': 33,
  'feel': 27,
  'mintmobile': 92,
  'women': 9,
  'movie': 86,
  'game': 14},
 'Matt_Leblanc': {'like': 12,
  'love': 11,
  'thanks': 66,
  'now': 7,
  'day': 25,
  'happy': 15,
  'time': 14,
  'know': 4,
  'see': 15,
  'people': 2,
  'new': 7,
  'think': 1,
  'deadpool': 0,
  'first': 1,
  'life': 0,
  'thank': 69,
  'aviationgin': 0,
  'work': 9,
  'thejudge': 0,
  'want': 3,
  'amazing': 1,
  'feel': 1,
  'mintmobile': 0,
  'women': 0,
  'movie': 0,
  'game': 0},
 'RobertDowneyJr': {'like': 17,
  'love': 34,
  'thanks': 20,
  'now': 49,
  'day': 115,
  'happy': 50,
  'time': 31,
  'know': 16,
  'see': 34,
  'people': 12,
  'new': 43,
  'think': 7,
  'deadpool': 0,
  'first': 10,
  'life': 12,
  'thank': 35,
  'aviationgin': 0,
  'work': 13,
  'thejudge': 103,
  'want': 9,
  'amazing': 6,
  'feel': 7,
  'mintmobile': 0,
  'women': 2,
  'movie': 16,
  'game': 18},
 'KingJames': {},
 'KDTrey5': {},
 'Giannis_An34': {},
 'StephenCurry30': {},
 'JoelEmbiid': {},
 'steveaoki': {},
 'CousinStizz': {},
 'trvisXX': {},
 'justinbieber': {},
 'ladygaga': {},
 'mcuban': {},
 'travisk': {},
 'ev': {},
 'ariannahuff': {},
 'TonyRobbins': {},
 'Jsipple': {},
 'informor': {},
 'soumitradutta': {},
 'DrMaureenHanson': {},
 'GeoffreyWCoates': {}}

In [20]:
with open('top-words.json' ,'w') as f:
    json.dump(new_data, f)

In [6]:
with open('top-words.json' ,'r') as f:
    x = json.load(f)

In [12]:
new_data = x
usernames = all_usernames
words = all_words

for username in usernames:
    new_data[username] = {}
    data = pd.read_json('data/user-{}-tweets.json'.format(username), lines=True)['content'].to_numpy()
    
    for word in words:
        count = 0
        for tweet in data:
            if word in tweet.lower():
                count += 1
        new_data[username][word] = count

In [14]:
with open('top-words.json' ,'w') as f:
    json.dump(new_data, f)