In [16]:
import os
import pandas as pd
import numpy as np
import random
import json

In [3]:
# Twitter Followers:
def getFollowers(username):
    os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> data/example-tweets.json".format(1, username))
    
    followers = pd.read_json('data/example-tweets.json'.format(username), lines=True).to_numpy()[0][6]['followersCount']
    return [username, followers]

In [4]:
usernames = ['RealSkipBayless', 'ShannonSharpe', 'PatMcAfeeShow', 'stephenasmith', 'maxkellerman',
            'EmmaWatson', 'AnnaKendrick47', 'VancityReynolds', 'Matt_Leblanc', 'RobertDowneyJr',
            'KingJames', 'KDTrey5', 'Giannis_An34', 'StephenCurry30', 'JoelEmbiid', 'steveaoki',
            'CousinStizz', 'trvisXX', 'justinbieber', 'ladygaga', 'mcuban', 'travisk', 'ev', 
            'ariannahuff', 'TonyRobbins', 'Jsipple', 'informor', 'soumitradutta', 
            'DrMaureenHanson', 'GeoffreyWCoates']

outputArr = []

for username in usernames:
    output = getFollowers(username)
    outputArr.append([output[0], output[1]])

df = pd.DataFrame(data = outputArr, columns = ['Username', 'Follower_Count'])
df.to_csv('data/user-followers.csv', index = False)
df.head()

          Username  Follower_Count
0  RealSkipBayless         3051616
1    ShannonSharpe         1539628
2    PatMcAfeeShow         2162963
3    stephenasmith         5504684
4     maxkellerman          675973

In [163]:
# Reference: https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af
# Setting variables to be used in format string command below
tweet_count = 1000000

username = "GeoffreyWCoates"

# Using OS library to call CLI commands in Python
os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> data/user-{}-tweets.json".format(tweet_count, username, username))

0

In [164]:
# Reads the json generated from the CLI command above and creates a pandas dataframe
tweets_df = pd.read_json('data/user-{}-tweets.json'.format(username), lines=True)

# Displays first 5 entries from dataframe
tweets_df.head()

,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-10-15 19:31:11+00:00,"@j_a_byers @TheCoatesCrew @NESACS Thanks, Jeff...","@j_a_byers @TheCoatesCrew @NESACS Thanks, Jeff...",1449095527526699013,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,4,...,None,NaN,None,1.449012e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
1,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-10-06 21:02:06+00:00,"Awesome work, @James_M_Eagan! https://t.co/3pJ...","Awesome work, @James_M_Eagan! twitter.com/Jame...",1445856918778511372,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,7,...,None,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
2,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-09-23 22:59:27+00:00,‚Å¶@Cornell‚Å© looking ü§© this evening! https://t.c...,‚Å¶@Cornell‚Å© looking ü§© this evening! https://t.c...,1441175406229458945,"{'_type': 'snscrape.modules.twitter.User', 'us...",4,31,654,...,"[{'_type': 'snscrape.modules.twitter.Photo', '...",NaN,None,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
3,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/144...,2021-09-22 17:51:25+00:00,‚Å¶@TheCoatesCrew‚Å© chemistry goes to a new stage...,‚Å¶@TheCoatesCrew‚Å© chemistry goes to a new stage...,1440735499514040324,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,9,98,...,None,NaN,None,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,None,NaN
4,snscrape.modules.twitter.Tweet,https://twitter.com/GeoffreyWCoates/status/143...,2021-09-09 17:16:28+00:00,Ha - thanks Paul! https://t.co/Abi0wLd3PL http...,Ha - thanks Paul! chrisjordan.com/gallery/rtn/...,1436015662179098650,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,6,...,None,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,None,NaN,NaN,None,NaN

In [165]:
tweets_df.shape

(307, 28)

In [166]:
arr = tweets_df.to_numpy()

In [167]:
def getPercentage(arr, textIndex, phrase):
    count = 0
    for val in arr:
        if phrase in val[textIndex].lower():
            count += 1
    return count * 100 / len(arr)

In [168]:
print(getPercentage(arr, 3, 'lebron'))

0.0

In [169]:
# Check the earliest tweet in the dataset
arr[-1][2].year

2018

In [170]:
tweets_df.columns

Index(['_type', 'url', 'date', 'content', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel',
       'outlinks', 'tcooutlinks', 'media', 'retweetedTweet', 'quotedTweet',
       'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'coordinates',
       'place', 'hashtags', 'cashtags'],
      dtype='object')

In [171]:
parseDate = lambda x: [x.week, x.month, x.year]

def cleanData(data):
    # Extract user, date, content, replyCount, retweetCount, and likeCount
    data = data.loc[:, ['user', 'date', 'content', 'replyCount', 'retweetCount', 'likeCount']]

    # Extract username from user
    username = data['user'][0]['username']
    data['user'] = username

    # Convert date: [week, month, year]
    data['date'] = data['date'].apply(np.vectorize(parseDate))
    
    data.to_csv('data/user-{}-tweets-cleaned.csv'.format(username), index = False)

In [172]:
cleanData(tweets_df)

In [17]:
usernames = ['RealSkipBayless', 'ShannonSharpe', 'PatMcAfeeShow', 'stephenasmith', 'maxkellerman',
            'EmmaWatson', 'AnnaKendrick47', 'VancityReynolds', 'Matt_Leblanc', 'RobertDowneyJr',
            'KingJames', 'KDTrey5', 'Giannis_An34', 'StephenCurry30', 'JoelEmbiid', 'steveaoki',
            'CousinStizz', 'trvisXX', 'justinbieber', 'ladygaga', 'mcuban', 'travisk', 'ev', 
            'ariannahuff', 'TonyRobbins', 'Jsipple', 'informor', 'soumitradutta', 
            'DrMaureenHanson', 'GeoffreyWCoates']

new_data = {}
for username in usernames:
    #data = pd.read_csv(f'cleaned-data/user-{username}-tweets-cleaned.csv').to_numpy()
    #print(data)
    new_data[username] = {}
    for i in range(15):
        new_data[username][f'word_{i+1}'] = random.uniform(0,1)

with open('top-words.json' ,'w') as f:
    json.dump(new_data, f)